# System Files
*.DS_Store
Thumbs.db

# Directories and files to ignore
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# VirtualBox
.VirtualBox/

# AWS and other environment files
.aws/
.conda/
.config/
.continuum/
.cursor/
.docker/
.dotnet/
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.kaggle/
.keras/
.matplotlib/
.ssh/
.streamlit/
.vscode/
.wdm/

# User-specific directories
Documents/
Downloads/
Favorites/
Files/
Jupyter/
Links/
Microsoft/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
VirtualBox VMs/
PycharmProjects/
anaconda3/
data/
ecoute/
env/
final/
python_env/
seaborn-data/
titanic/
usb_driver/

# Files to ignore globally
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.dat
